* {
    margin: 0;
    padding: 0;
}

.text {
    font-family: 'Supreme', sans-serif;
    margin-bottom: 1rem;
}

.para {
    font-family: 'Alpino', sans-serif;
    margin-bottom: 2rem;
}

.com {
    font-family: 'Plein', sans-serif;
}
